.outermostCont {
  display: grid;
  grid-template-columns: 40% 1fr;
  height: 100vh;
  background-color: antiquewhite;
  font-size: larger;
  font-style: normal;
}

.aside {
  object-fit: cover;
  width: 100%;
  height: 85% ;
}

.aside img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.mainContentWrapper {
  position: relative;
  align-self: center;
}

p {
  font-size: 18px;
}

.mainContent {
  max-width: 60%;
  margin-left: 5rem;
  position: relative;
  height: 100%;
  margin-inline: auto;
}

.mainContent h1 {
  margin-bottom: 3rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1rem;
  font-size: 3rem;
}

.mainContent button,
input {
  width: 100%;
  padding: 1.6rem;
  border-radius: 0.4rem;
  border-width: 1px;
  outline: none;
  font-size: 18px;
}

.mainContent input {
  margin-top: 0.7rem;
  font-size: 18px;
}

.mainContent input::placeholder {
  font-size: 1.8rem;
}

.mainContent input:focus {
  border-width: 1px;
  outline: none;
  background: hsl(0deg 0.67% 62.9% / 34%);
  margin-top: 1rem;
}

.mainContent label {
  display: block;
  font-size: 18px;
  font-weight: 500;
}

.form {
  margin-block: 2rem;
}

.form div {
  margin-block: 0 2rem;
}

.form span {
  text-decoration: underline;
  font-size: 16px;
}

.form input {
  padding: 1.6rem;
}

.password {
  margin-bottom: 0 !important;
}

.passwordMessage {
  margin-bottom: 1rem;
}

.cta {
  color: white;
  background: hsl(0deg 0.39% 8%);
}

.togglePassword {
  position: absolute;
  top: 35%;
  right: 2%;
}

.error {
  color: red;
  margin-top: 0 !important;
}

.disabled_btn {
  opacity: 0.3;
}

.validInput {
  border: 1px solid rgb(69, 151, 69);
}

/* @985px */
@media screen and (max-width: 61.5625em) {
  .outermostCont {
    display: block;
    margin-inline: auto;
    height: 100%;
  }
  .mainContentWrapper {
    padding-block: 5rem;
  }
}

/* @600px */
@media screen and (max-width: 37.7em) {
  .mainContent {
    max-width: 85%;
  }
}

/* @430px */
@media screen and (max-width: 26.875em) {
  .mainContent {
    max-width: 95%;
  }
  .separator::before,
  .separator::after {
    content: none;
  }
}
